<h1>Order Confirmation (<%= cart.method %>)</h1>

<table class="customer-info"><tr><td>
	
	<% if ( user.company || user.abn ){ %><%= user.company || '' %> <% if (user.abn){ %>(ABN: <%= user.abn %>)<% } %><br /><% } %>
	<%=user.firstname%> <%=user.lastname%> <br />
	<% if (user.street){ %><%= user.street || '' %> <br /><% } %>
	<% if (user.suburb || user.state || user.postalcode){ %><%= user.suburb || '' %> <%= user.state || '' %> <%= user.postalcode || '' %><br /><% } %>
	<%= user.email || '' %>
	
	<% if ( cart.note && cart.method == 'Delivery' ){ %>
		<p><strong>Note on delivery:</strong> <%= cart.note || '' %></p>
	<% } %>

</td></tr></table>
	
<h2>Your order</h2>

<table>
	<tbody>
		<% cart.bundles.forEach(function(bundle){ %>
		<tr class="bundle">
			<td class="product-info" >
				<h3><%= bundle.product.identifier %></h3>
				<span class="ref"><%= bundle.product.title %></span>
			</td>

			<td class="compositions">
				<table>
					<% bundle.compositions.forEach(function(composition){ %>	
					<tr> 
						<td class="design-info">
							<% if (composition.design.label){ %>
								<span class="design-label" ><%=  composition.design.label %></span>
								<span class="design-identifier" >(<%=  composition.design.identifier || '' %>)</span>
							<% } %>
						</td>
						<td class="quantity" ><%=  composition.quantity %> <span class="inner" >x <%=  bundle.product.inner %></span>
						</td>
					</tr>
				<% }) %>

				</table>
				
			</td>
		</tr>
		<% }) %>
	</tbody>
	<tfoot>
		<td></td>
		<td class="total-price">
			<%= helpers.currency(cart.price) %>
		</td>

	</tfoot>


</table>


<hr />

MagicPro / magicpro-aust@bigpond.com / p: (02) 9757 2998 / f: (02) 9757 2658





