<h1>Order Confirmation</h1>

<table>
	<tbody>
		<% cart.bundles.forEach(function(bundle){ %>
		<tr class="bundle">
			<td class="product-info" >
				<h2><%= bundle.product.title %></h2>
				<span class="ref"><%= bundle.product.identifier %></span>	| 
				<span class="price"><%= helpers.currency(bundle.product.price) %></span>	
			</td>

			<td class="compositions">
				<% bundle.compositions.forEach(function(composition){ %>	
					<li> 
						<span class="design-info">
							<% if (composition.design.label){ %>
								<span class="design-label" ><%=  composition.design.label %></span>
								<span class="design-identifier" >(<%=  composition.design.identifier || '' %>)</span>
							<% } %>
						</span>
						<span class="quantity" ><%=  composition.quantity %> x <%=  bundle.product.inner %></span>
					</li>
				<% }) %>
			</td>
		</tr>
		<% }) %>
	</tbody>
	<tfoot>
		<td></td>
		<td class="total-price">
			<%= helpers.currency(cart.price) %>
		</td>

	</tfoot>


</table>
	


